<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
</head>

<% if current_user %>
  <script>
    window.currentUser = {
    "username": "<%= current_user.username %>",
      "email": "<%= current_user.email %>",
      "id": "<%= current_user.id %>",
    };
  </script>
<% end %>

<div id="root">React is broken!!</div>