// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postHeader {
  height: 60px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.rightSideHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-user-edit {
  margin-right: 20px;
}

// .fa-trash-alt {

// }

.postBox {
  margin: 79px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  width: 45%;
  position: relative;
  top: 50px;
  // background-color: #fafafa;
}

.image {
  max-width: 100%;
  max-height: 100%;
  image-orientation: from-image;
}

.editCaptionParent {
  // margin: 79px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  width: 100%;
  position: relative;
  // top: 50px;
}

.editCaption {
  background: #ffffff;
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #e6e6e6;
  padding: 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: flex;
}

.captionBox {
  height: 100px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  // align-items: center;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
}

.heartCommentSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  // font-size-adjust: 12px;
}

.captionText {
  margin-right: 10px;
}

.postCaption {
  display: flex;
  flex-direction: flex-start;
  width: 100%;
  height: 100px;
  // align-items: center;
}

.redHeart {
  color: red;
  // size: 14px;
}

.blackHeart {
  color: black;
}

.heartLike {
  margin-right: 10px;
}

.likeText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.editSubmitParent {
  display: flex;
  justify-content: center;
  background-color: #468fdc;
  color: white;
  margin: 10px;
  // padding: 6px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 75%;
  // margin-left: 20px;
}
