// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pageDiv {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.signin {
  display: flex;
  background-color: white;
  justify-content: center;
  // flex-direction: column;
  width: 350px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 350px;
  align-content: center;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, .5); 
}

.signinDiv {
    background-color: #fafafa;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    // align-items: center;
}

.signup {
  display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid #d9d9d9;
  align-content: center;
}

.errorsDiv {
  display: flex;
  justify-content: center;
}

.errors {
  color: #ed4c59;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: center;
}

.signup {
  display: flex;
  background-color: white;
  justify-content: center;
  // flex-direction: column;
  width: 350px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 600px;
  align-content: center;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, .5); 
}

.signupDiv {
    background-color: #fafafa;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.form {
    background-color: white;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    border: 1px black;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.signInForm {
    background-color: white;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    box-sizing: content-box;
    border: 1px black;
    // flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;
}

.name {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Cookie', cursive;
  font-size: 60px;
  color: #262626;
  margin-top: 25px;
  margin-bottom: 10px;
}
.header-text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.text {
  background-color: white;
  color: #999999;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  align-items: center;
  width: 230px;
  text-align: center;
}

.login-footer-parent {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.login-footer-text {
  background-color: white;
  color: #999999;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  align-items: center;
  width: 220px;
  text-align: center;
  margin: 5px;
  margin-bottom: 50px;
  // width: 150px;
  // margin-bottom: 20px;
}

.inputField {
  background-color: white;
  display: flex;
  justify-content: center;
  // margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // border-radius: 3px;
}

.submitButton {
  display: flex;
  justify-content: center;
  background-color: #468fdc;
  color: white;
  margin: 10px;
  // padding: 6px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 75%;
}

.signUpDemoParent {
  display: flex;
  justify-content: center;
  width: 500px;
  margin-bottom: 5px;
}

.signUpDemoButton {
  display: flex;
  justify-content: center;
  background-color: #468fdc;
  color: white;
  margin: 10px;
  // padding: 6px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 75%;
}

.submitButtonParent {
  display: flex;
  justify-content: center;
  width: 500px;
}

.or-text {
  width: 400px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  background-color: white;
  color: #999999;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  align-items: center;
  width: 200px;
  text-align: center;
  margin-bottom: 5px;
}

.signInDemoButton {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #385285;
  margin: 10px;
  // padding: 6px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.signInSubmitButton {
  display: flex;
  justify-content: center;
  background-color: #468fdc;
  color: white;
  margin: 10px;
  // padding: 6px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: 100%;
}

.sign-in-or-text {
  width: 400px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  background-color: white;
  color: #999999;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  align-items: center;
  width: 200px;
  text-align: center;
  margin-bottom: 5px;
}

.signInButtonParent {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type=text], input[type=password] {
  background-color: #fafafa;
  border: 0px;
  // border-color: #d5d4d6;
  margin: 5px;
  padding: 7px;
  font-size: 12px;
  width: 220px;
  border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #d5d4d6;
  outline: none;
}

.redirect {
  border: 0;
  font-size: 14px;
  color: #468fdc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.haveAccountDiv {
  display: flex;
  justify-content: center;
}
.haveAccount {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.noAccountDiv {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.noAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.account {
  margin-right: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #999999;
  font-size: 14px;
}

.bottomLinksParentDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bottomLinksParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  position: absolute;
  bottom: 40px;
  // align-items: flex-end;
  // align-self: flex-end;
  background-color: #fafafa
}

.bottomLinks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #183569;
  font-size: 12px;
}

//let divs = document.querySelectorAll("div");
// divs.forEach(e => e.style.border = "1px solid black");